<div class="container-fluid mt-5">
  <h2 class="page-header">Register</h2>
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control border border-secondary"
        id="name"
        aria-describedby="nameHelp"
        formControlName="name"
      />
      <p *ngIf="form.controls.name.touched && form.controls.name.errors?.required" class="text-danger">Please enter a name</p>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <span *ngIf="this.form.controls.username.status === 'PENDING'" class='spinner-border spinner-border-sm text-primary pull-right'></span>
        <input
          type="text"
          class="form-control border border-secondary"
          id="username"
          aria-describedby="usernameHelp"
          formControlName="username"
        >
      <p *ngIf="form.controls.username.touched && form.controls.username.errors?.required" class="text-danger">Please enter a username</p>
      <p *ngIf="form.controls.username.touched && form.controls.username.errors?.taken" class="text-danger">This username is taken. Choose another</p>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <span *ngIf="this.form.controls.email.status === 'PENDING'" class='spinner-border spinner-border-sm text-primary pull-right'></span>
      <input
        type="email"
        class="form-control border border-secondary"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <p *ngIf="form.controls.email.touched && form.controls.email.errors?.required || form.controls.email.errors?.email" class="text-danger">Please enter a valid email</p>
      <p *ngIf="form.controls.email.touched && form.controls.email.errors?.taken" class="text-danger">This email is taken. Choose another</p>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="text"
        class="form-control border border-secondary"
        id="password"
        aria-describedby="passwordHelp"
        formControlName="password"
      />
      <p *ngIf="form.controls.password.touched && !form.controls.password.valid" class="text-danger">Please enter a password</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!this.form.valid" (click)="onRegisterSubmit()">Submit</button>
</form>
</div>
